<div class="p-5 mb-4 rounded-3 text-center">
  <div class="container py-5">
    <h1 class="display-4 fw-bold">Futbol Best</h1>
    <p class="fs-5">
      Tu portal confiable para resultados, estadísticas y noticias del mundo del fútbol. 
      Mantente al día con toda la emoción de tus equipos y ligas favoritas.
    </p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center g-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="https://s1.significados.com/foto/imagen-de-destaque-que-es-el-futbol.-jugadores-y-balon.jpg?class=ogImageSquare" class="card-img-top" alt="Inicio Fútbol">
        <div class="card-body">
          <h5 class="card-title">Inicio</h5>
          <p class="card-text small">
            Consulta las últimas noticias y resultados destacados del mundo del fútbol.
          </p>
          <a routerLink="" class="btn btn-sm btn-primary">Ir al Inicio</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="https://www.eluniverso.com/resizer/v2/SDVOXM5RC5AA5MKVEBB3OK2A5Y.jpg?auth=4c0c6fb134d2996d36498c72dda521dfe4c968231d4b7d6b61ff1adb9ccb4eee&width=1400&height=1400&quality=75&smart=true" class="card-img-top" alt="Partidos Fútbol">
        <div class="card-body">
          <h5 class="card-title">Partidos</h5>
          <p class="card-text small">
            Revisa los próximos partidos, calendarios y estadísticas detalladas.
          </p>
          <a routerLink="/partidos" class="btn btn-sm btn-primary">Ver Partidos</a>
        </div>
      </div>
    </div>
  </div>
</div>
